# MicroCMS Settings
# 管理画面: https://microcms.io/dashboard
# サービスドメイン (例: giant-spirit)
MICROCMS_SERVICE_DOMAIN=
# APIキー (読み取り専用でOK)
MICROCMS_API_KEY=

# Stripe Settings
# テスト環境/本番環境のキーを設定してください
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
